<!DOCTYPE html>
<html>
<head>
    <title>League of Legends Champion Stats!</title>
    <link rel="stylesheet" href="../static/website_css.css">
</head>
<body>
    <h1>LOL Champions</h1>
    <!--https://www.w3schools.com/howto/howto_css_images_side_by_side.asp-->
    <div class="row">
        <div class="column">
          <img src="../images/Nasus.jpg" style="width:100%">
        </div>
        <div class="column">
          <img src="../images/LeeSin.jpg" style="width:100%">
        </div>
        <div class="column">
          <img src="../images/Akali.jpg" style="width:100%">
        </div>
        <div class="column">
            <img src="../images/MasterYi.jpg" style="width:100%">
          </div>
        <div class="column">
            <img src="../images/XinZhao.jpg" style="width:100%">
          </div>
        <div class="column">
            <img src="../images/Volibear.jpg" style="width:100%">
        </div>
        <div class="column">
            <img src="../images/Ryze.jpg" style="width:100%">
        </div>
        <div class="column">
            <img src="../images/TwistedFate.jpg" style="width:100%">
        </div>
        <div class="column">
            <img src="../images/AurelionSol.jpg" style="width:100%">
        </div>
        <div class="column">
            <img src="../images/Draven.jpg" style="width:100%">
        </div>
        <div class="column">
            <img src="../images/Caitlyn.jpg" style="width:100%">
        </div>
        <div class="column">
            <img src="../images/Lucian.jpg" style="width:100%">
        </div>
        <div class="column">
            <img src="../images/Blitzcrank.jpg" style="width:100%">
        </div>
        <div class="column">
            <img src="../images/Thresh.jpg" style="width:100%">
        </div>
        <div class="column">
            <img src="../images/Nautilus.jpg" style="width:100%">
        </div>
        <div class="column">
            <img src="../images/Teemo.jpg" style="width:100%">
        </div>
      </div>
</body>
</html>


<!--div class="box NasusBox"><img src="../images/Nasus.jpg" alt="Nasus"></div-->
<!-- <p><img src="../images/Nasus.jpg" alt="Nasus" width="193" height="130" class = "centerImage"></p>
<p><img src="../images/LeeSin2.jpg" alt="LeeSin" width="193" height="130" class = "centerImage"></p> -->